name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Set up Go 3.x
      uses: actions/setup-go@v5
      with:
        go-version: '^1.22'

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            dep ensure
        fi

    - name: Build askg
      run: go build -v .
      working-directory: ./cmd/askg
    - name: Build askgd
      run: go build -v .
      working-directory: ./cmd/askgd

    - name: Test askg
      run: go test -v ./...
      working-directory: ./cmd/askg
    - name: Test askgd
      run: go test -v ./...
      working-directory: ./cmd/askgd